<% if logged_in? %>
  <div>
      <div class="col-sm-12 col-md-12 col-lg-5" style="margin-top: 20px;">
        <div>
          <%= render :partial => "upcoming_events" %>
        </div>
<!--         <div>
          <%= render :partial => "users" %>
        </div> -->
      </div>
    </div>
  </div>      
<% else %>
  <%= render :partial => "form" %>
<% end %>
