/* CUSTOM CSS/STYLING HERE */
label {
    display: inline-block;
    width:100px;
    text-align: right;
    padding: 1px 2px 3px 6px;

.selector
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: black;
}

#nav li { 
display: inline; 
padding: 20px; 
}